@import "../libs/slick/slick.css";
@import "../libs/slick/slick-theme.css";
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clear {
  clear: both;
}
body {
  padding: 0;
  margin: 0;
  background: #fff;
  color: #313131;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
body img {
  max-width: 100%;
  height: auto;
  border: 0;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}
body .wrap {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 100%;
}
header {
  background: #263238;
}
header .header-logo {
  float: left;
  width: 200px;
  height: 80px;
  background: #fff;
}
header .header-logo a {
  display: block;
  font-size: 0;
  margin-left: 23px;
  margin-top: 13px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
header .header-logo a:hover {
  opacity: .5;
}
header .header-info {
  float: right;
  min-height: 80px;
  padding-right: 30px;
  color: #fff;
  font-size: 18;
  position: relative;
}
header .header-info .icon {
  border-top: 4px #fff solid;
  border-bottom: 4px #fff solid;
  width: 30px;
  height: 4px;
  position: absolute;
  top: 48%;
  left: 7px;
  cursor: pointer;
  display: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
header .header-info .icon:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  border-top: 4px #fff solid;
  margin-top: -14px;
  cursor: pointer;
}
header .header-info .icon:hover {
  opacity: .5;
}
header .header-info .map {
  display: inline-block;
  vertical-align: center;
}
header .header-info .map a {
  color: #fff;
  font-size: 18;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
header .header-info .map a:hover {
  opacity: .5;
}
header .header-info .tel-text {
  display: inline-block;
  vertical-align: center;
  margin-left: 18px;
}
header .header-info .tel {
  display: inline-block;
  vertical-align: center;
  margin: 0;
  padding-left: 42px;
}
header .header-info .tel a {
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #fff;
  line-height: 80px;
}
header .header-info .tel a:hover {
  opacity: .5;
}
header .header-info .tel a:after {
  content: '';
  position: absolute;
  top: 3px;
  left: -25px;
  background: url('../img/tel.png') no-repeat;
  width: 12px;
  height: 20px;
}
header .header-info form {
  display: inline-block;
  vertical-align: center;
  margin-top: 19px;
  margin-left: 16px;
  margin-right: 14px;
}
header .header-info form input {
  padding-left: 46px;
  padding-right: 20px;
  width: 322px;
  height: 36px;
  box-sizing: border-box;
  border: 2px solid #fff;
  background: #263238 url('../img/magnef.png') 10px 5px no-repeat;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 18;
  line-height: 36px;
}
header .header-info form input::placeholder {
  color: #fff;
  font-size: 18;
  line-height: 36px;
}
.main-content {
  background: #03a9f4;
}
.main-content .left-menu {
  float: left;
  width: 200px;
  position: relative;
}
.main-content .left-menu ul {
  margin: 0;
  padding: 0;
}
.main-content .left-menu ul li {
  text-align: center;
  margin-bottom: 10px;
}
.main-content .left-menu ul li:first-child {
  padding-top: 10px;
}
.main-content .left-menu ul li picture {
  display: block;
  font-size: 0;
  margin-bottom: 2px;
}
.main-content .left-menu ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-content .left-menu ul li a:hover {
  opacity: .5;
}
.main-content .left-menu ul li a picture {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-content .left-menu ul li a picture:hover {
  opacity: .5;
}
.main-content .left-menu .close-menu-popup {
  position: absolute;
  right: 5px;
  top: 5px;
  background: url('../img/x.png');
  width: 21px;
  height: 21px;
  cursor: pointer;
  display: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.main-content .left-menu .close-menu-popup:hover {
  opacity: .5;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
.main-content main {
  background: #eeeeee;
  margin-left: 200px;
  padding: 40px 30px 0 30px;
  position: relative;
}
.main-content main .text-content {
  max-width: 74%;
  float: left;
  margin-right: 30px;
}
.main-content main .text-content > section {
  padding: 18px 30px;
  background: #fff;
  border-bottom: 3px solid #d6d6d6;
  margin-bottom: 17px;
}
.main-content main .text-content .title-content h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}
.main-content main .text-content .content-1 p {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}
.main-content main .text-content .content-1 p:first-child {
  margin-bottom: 18px;
}
.main-content main .text-content .content-diagram-1 {
  padding: 14px 30px;
  text-align: center;
}
.main-content main .text-content .content-diagram-1 h3 {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 400;
}
.main-content main .text-content .content-diagram-1 img {
  width: 550px;
}
.main-content main .text-content .content-2 p:first-child {
  margin-bottom: 20px;
}
.main-content main .text-content .content-diagram-2 {
  padding: 14px 30px;
  text-align: center;
}
.main-content main .text-content .content-diagram-2 h3 {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 400;
}
.main-content main .text-content .content-diagram-2 img {
  width: 730px;
}
.main-content main .text-content .content-3 p {
  font-size: 18px;
  line-height: 26px;
}
.main-content main .text-content .content-3 p:first-child {
  margin-bottom: 20px;
}
.main-content main .text-content .content-diagram-3 {
  text-align: center;
}
.main-content main .text-content .content-diagram-3 h3 {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 400;
}
.main-content main .text-content .content-diagram-3 .left {
  float: left;
  margin: 0;
  width: 250px;
  margin-left: 110px;
  margin-right: 64px;
}
.main-content main .text-content .content-diagram-3 .left picture {
  display: block;
  margin-bottom: 18px;
  text-align: left;
}
.main-content main .text-content .content-diagram-3 .left p {
  margin: 0;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
}
.main-content main .text-content .content-diagram-3 .right {
  float: left;
  margin: 0;
  width: 250px;
}
.main-content main .text-content .content-diagram-3 .right picture {
  display: block;
  margin-bottom: 18px;
  text-align: left;
}
.main-content main .text-content .content-diagram-3 .right p {
  margin: 0;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
}
.main-content main .text-content .content-diagram-4 {
  text-align: center;
  padding-top: 35px;
}
.main-content main .text-content .content-diagram-4 h3 {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 400;
}
.main-content main .text-content .content-diagram-4 .left {
  display: inline-block;
  margin: 0;
  width: 100px;
  margin-right: 2px;
  margin-bottom: 15px;
}
.main-content main .text-content .content-diagram-4 .left picture {
  display: block;
  text-align: center;
}
.main-content main .text-content .content-diagram-4 .left p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
.main-content main .text-content .content-diagram-5 {
  text-align: center;
}
.main-content main .text-content .content-diagram-5 h3 {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 400;
}
.main-content main .text-content .content-diagram-5 img {
  width: 800px;
}
.main-content main .text-content .content-4 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-content main .text-content .content-4 p {
  font-size: 18px;
  line-height: 26px;
}
.main-content main aside {
  max-width: 22%;
  float: left;
  text-align: center;
}
.main-content main aside > section {
  background: #fff;
  border-bottom: 3px solid #d6d6d6;
  margin-bottom: 18px;
}
.main-content main aside h2,
.main-content main aside h3,
.main-content main aside p {
  margin: 0;
}
.main-content main aside .partner h2 {
  padding: 24px 0;
  color: #fefefe;
  font-weight: 400;
  font-size: 18px;
  background: #03a9f4;
}
.main-content main aside .logo-site {
  padding-top: 18px;
  padding-bottom: 18px;
  padding: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.main-content main aside .logo-site h3 {
  color: #313131;
  line-height: 24px;
  margin-bottom: 24px;
  font-weight: 400;
}
.main-content main aside .logo-site a {
  color: #1e88e5;
  text-decoration: underline;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-content main aside .logo-site a:hover {
  opacity: .5;
}
.main-content main aside .partner-2 {
  font-size: 0;
}
.main-content main aside .title {
  background: #03a9f4;
}
.main-content main aside .title h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.main-content main aside .presentation {
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.main-content main aside .presentation img {
  font-size: 0;
  margin-bottom: 20px;
}
.main-content main aside .presentation a {
  color: #1e88e5;
  text-decoration: underline;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-content main aside .presentation a:hover {
  opacity: .5;
}
.main-content main aside .text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.main-content main aside .text p {
  max-width: 170px;
  margin: 0 auto;
  margin-top: 16px;
  color: #313131;
}
.main-content main aside .video-title {
  padding: 18px 0;
  color: #fff;
  font-weight: 400;
  background: #03a9f4;
}
.main-content main aside .video {
  padding: 28px;
  box-sizing: border-box;
}
.main-content main aside .video p {
  margin-top: 20px;
  color: #313131;
  line-height: 24px;
}
.main-content main footer {
  clear: both;
  background: #263238;
  min-height: 70px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: -30px;
  margin-right: -30px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  line-height: 70px;
}
.main-content main footer p {
  margin: 0;
}
.main-content main footer .footer-copyright {
  float: left;
}
.main-content main footer .footer-tel {
  float: left;
}
.main-content main footer .footer-tel a {
  color: #fff;
  margin-left: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-content main footer .footer-tel a:hover {
  opacity: .5;
}
.main-content main footer .footer-social {
  float: right;
  height: 50px;
}
.main-content main footer .footer-social a {
  margin-left: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-content main footer .footer-social a:hover {
  opacity: .5;
}
.main-content main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  display: none;
}
.main-content main .menu1 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  padding-left: 32px;
  display: none;
}
.main-content main .menu1:after {
  content: '';
  position: absolute;
  top: 60px;
  left: -40px;
  border: 20px solid transparent;
  border-right: 20px solid black;
}
.main-content main .menu1 h2 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.main-content main .menu1 .popup-menu1 ul {
  margin: 0;
  padding: 0;
}
.main-content main .menu1 .popup-menu1 ul li {
  margin-bottom: 22px;
}
.main-content main .menu1 .popup-menu1 ul li a {
  color: #a2c046;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-content main .menu1 .popup-menu1 ul li a:hover {
  opacity: .5;
}
.main-content main .menu6 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  padding-left: 32px;
  display: none;
}
.main-content main .menu6:after {
  content: '';
  position: absolute;
  top: 510px;
  left: -40px;
  border: 20px solid transparent;
  border-right: 20px solid black;
}
.main-content main .menu6 .left-popup-menu,
.main-content main .menu6 .right-popup-menu {
  max-width: 380px;
  float: left;
}
.main-content main .menu6 .right-popup-menu {
  margin-top: 90px;
  margin-left: 120px;
}
.main-content main .menu6 h2 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 35px;
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.main-content main .menu6 .popup-menu6 {
  margin-bottom: 40px;
}
.main-content main .menu6 .popup-menu6 h3 {
  margin: 0;
  margin-bottom: 18px;
  color: #a2c046;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.main-content main .menu6 .popup-menu6 ul {
  margin: 0;
  padding: 0;
}
.main-content main .menu6 .popup-menu6 ul li {
  margin-bottom: 3px;
}
.main-content main .menu6 .popup-menu6 ul li a {
  color: #fefefe;
  font-size: 18px;
  line-height: 30px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-content main .menu6 .popup-menu6 ul li a:hover {
  opacity: .5;
}
.br-close {
  display: none;
}
.fix-menu {
  display: block !important;
  position: absolute !important;
  top: 0;
  z-index: 3;
  background: #03a9f4;
}
@media (max-width: 1366px) {
  .main-content main footer {
    padding-top: 20px;
  }
  .main-content main footer .footer-copyright {
    float: none;
    display: block;
    text-align: center;
    min-height: 60px;
    line-height: normal;
  }
  .main-content main footer .footer-tel {
    float: none;
    display: block;
    text-align: center;
    min-height: 60px;
    line-height: normal;
  }
  .main-content main footer .footer-social {
    float: none;
    display: block;
    text-align: center;
    min-height: 60px;
    line-height: normal;
  }
}
@media (max-width: 1190px) {
  header .header-logo {
    height: 136px;
    margin-right: 30px;
  }
  header .header-info {
    float: none;
    text-align: center;
    padding-right: 0;
    padding-left: 45px;
    margin-right: 0px;
  }
  header .header-info form {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 16px;
    text-align: center;
  }
  .main-content main .menu6 .right-popup-menu {
    margin-top: 90px;
    margin-left: 20px;
  }
}
@media (max-width: 1140px) {
  .main-content main .menu6 .right-popup-menu {
    margin-left: 20px;
  }
}
@media (max-width: 828px) {
  .main-content main .menu6 .right-popup-menu {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .main-content main .news-list .news {
    padding: 17px 10px;
  }
}
@media (max-width: 820px) {
  header .header-info .map {
    padding-right: 15px;
    margin-top: 7px;
  }
  header .header-info .tel-text {
    margin-left: 0;
  }
}
@media (max-width: 690px) {
  header .header-info form input {
    width: auto;
    max-width: 322px;
  }
}
@media (max-width: 820px) {
  .main-content main .all-news {
    padding-top: 20px;
    min-height: auto;
    height: 80px;
  }
  .main-content main .all-news a {
    float: none;
    margin-top: 0;
    margin-right: 0;
    text-align: center;
  }
  .main-content main .news-list .news {
    float: none;
    width: 100%;
  }
  .br-close {
    display: block !important;
  }
}
@media (max-width: 1024px) {
  .main-content .left-menu {
    display: none;
  }
  .header-logo {
    display: none;
  }
  .main-content main {
    margin-left: 0;
  }
  header .header-info .icon {
    display: block;
  }
  .main-content .left-menu .close-menu-popup {
    display: block;
  }
}
@media (min-width: 1024px) {
  .main-content .left-menu {
    left: 0 !important;
  }
}
@media (max-width: 650px) {
  .main-content .left-menu {
    width: auto;
  }
  .main-content main .menu1 {
    padding-left: 112px !important;
  }
  .main-content main .menu6 {
    padding-left: 112px !important;
  }
  .main-content main .menu1 .popup-menu1 ul li a,
  .main-content main .menu1 h2 {
    font-size: 20px;
  }
  .main-content main .menu6 ul li a,
  .main-content main .menu6 h2,
  h3 {
    font-size: 20px !important;
  }
}
@media (max-width: 500px) {
}
@media (max-width: 800px) {
  .main-content main .text-content {
    max-width: 100%;
    margin-right: 0;
  }
  .main-content main aside {
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .main-content main .text-content .content-diagram-3 .left,
  .main-content main .text-content .content-diagram-3 .right {
    float: none;
    display: block;
    margin-left: 50% !important;
    margin-right: 0;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
  }
  .main-content main .text-content .content-diagram-3 .left {
    margin-bottom: 20px;
  }
}
@media (max-width: 1270px) {
  .main-content main .text-content .content-diagram-3 .left {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .main-content main footer {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .main-content main footer .footer-social {
    min-height: 90px;
  }
  .main-content main footer .footer-social a {
    margin-left: 2px;
  }
}
